{% extends "base_home.html" %}
{% block title%} : Contact Us{%endblock%}
{% block body %}
<div class="container static-content">
	<h2>Contact Us</h2>
	<div class="row">
		<div class="left-50">
			<h3>Contact Info</h3>
			<p>You can get in touch with us though following channels:</p>
			<p>
				<span class="bold">Contact Number</span> : +91-9819263629 <br/>
				(Mon-Sat : 10:00 AM - 8:00 PM)
			</p>
			<p>
				<span class="bold">Email</span> : contact@framd.in
			</p>
		</div>
		<div class="right-50">
			<h3>Leave Feedback</h3>
			<form method="post" class="feedback-form" action="/feedback/">
				<input name="name" type="text" placeholder="Your Name"> <br>
				<input name="email" type="text" placeholder="Email"> <br>
				<input name="number" type="text" placeholder="Contact Number"> <br>
				<textarea name="message" placeholder="Your Message"></textarea> <br>
				{% csrf_token %}
				<input type="submit" class="btn">
			</form>
		</div>
	</div>
</div>
{% endblock %}