{% extends "base_home.html" %}
{% block title%} : Frequently Asked Questions{%endblock%}
{% block body %}
<div class="container static-content">
<h2>Frequently Asked Questions</h2>
<h3 id="what-is-framd-and-what-are-you-selling"><a name="user-content-what-is-framd-and-what-are-you-selling" href="#what-is-framd-and-what-are-you-selling" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>What is Framd and what are you selling?</h3>
<p>Framd is an online service that offers:</p>
<ol>
<li>
<p><strong>High Quality poster size print of your artwork</strong><br />
Start off, by simply Uploading your artwork (high resolution images of Paintings) or photos (family photos, baby photos, sceneries and more) and Choose the dimension (size) of your print.</p>
</li>
<li>
<p><strong>Frame these artwork</strong><br />
        Once you have selected the size of printable image, you can frame it in one go.
        We provide you the online tool to choose the type/size of Frame, border size/color
        and color of your wall. These options will help you visualize, how the artwork will
        appear in your home.</p>
</li>
</ol>
<p><strong>Disclaimer:</strong> All the images, provided by Framd on its website are for representational purpose only. We do not sell those images for printing and framing purpose.  We recommend you to print your personal images only, or the ones for which you have copyright.</p>
<h3 id="how-long-does-it-take-to-deliver-an-artwork"><a name="user-content-how-long-does-it-take-to-deliver-an-artwork" href="#how-long-does-it-take-to-deliver-an-artwork" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>How long does it take to deliver an artwork?</h3>
<p>Once you have finalized the image and its frame along with the desired dimension, it will take us no more than <strong>7-10 days</strong> to deliver it at the provided address.</p>
<p>Just in case, you want us to deliver the product on a particular day of week, do tell us about it in advance and we will try to incorporate it. Currently we are operating <strong>only in Mumbai</strong>, but soon will be delivering all across India.</p>
<p>We also offer a special gift packaging at a meagre cost, for special occasions like birthdays, anniversaries and so on.</p>
<h3 id="can-i-track-my-order"><a name="user-content-can-i-track-my-order" href="#can-i-track-my-order" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Can I track my order?</h3>
<p><strong>Of-course, you can</strong>. <strong>Just login</strong> to our website and see the status of all of your order so far. Otherwise,  you can also <strong>call us</strong> or <strong>email us</strong> regarding your order status.</p>
<h3 id="how-do-you-protect-the-artworkphoto-from-dust"><a name="user-content-how-do-you-protect-the-artworkphoto-from-dust" href="#how-do-you-protect-the-artworkphoto-from-dust" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>How do you protect the artwork/photo from dust?</h3>
<p>We put <strong>mat over your artwork/photo</strong> in order to protect it. We also add a <strong>layer of glass</strong> in front to protect border area, glass layer gives one more layer of protection to artwork/photo.</p>
<h3 id="what-will-happen-it-there-are-damage-to-my-frame-or-artwork"><a name="user-content-what-will-happen-it-there-are-damage-to-my-frame-or-artwork" href="#what-will-happen-it-there-are-damage-to-my-frame-or-artwork" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>What will happen it there are damage to my frame or artwork.</h3>
<p><strong>We will replace it</strong>. Once it get delivered to you, open it with care and if you find any damage return immediately to our delivery boy. We will replace it with new one and will deliver it again without any charges.</p>
<h3 id="is-there-any-return-policy"><a name="user-content-is-there-any-return-policy" href="#is-there-any-return-policy" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>Is there any return policy.</h3>
<p><strong>No</strong>. Once it gets to our shop for print and framing there will no refund.<br />
Artwork/photos are personalise in nature. In addition, you have customized it according to your preference.</p>
</div>

{% endblock %}