{% extends "base_home.html" %}
{% block title%} : Pricing{%endblock%}
{% block body %}
<div class="container static-content static-content-thin align-center">
	<h2>Pricing</h2>
	<p>We at <a href="/">Framd.in</a> make sure you get best product at lowest possible prices. Final pricing of the product is based on print dimension and choice of frame. To give you a rough estimate here are pricing for some of the sizes.</p>
	<br>
	<div class="row">
		<div class="width-1-3rd">
			<div class="rectangle rectangle-2-1">24" x 18"</div>
			<div class="indicative-price">
				Starting From <span>Rs. 1,365.00</span> <br>
				<a href="/try/?width=24&height=18">Customize and Buy</a>
			</div>
		</div>
		<div class="width-1-3rd">
			<div class="rectangle rectangle-2">24" x 24"</div>
			<div class="indicative-price">
				Starting From <span>Rs. 1,575.00</span> <br>
				<a href="/try/?width=24&height=24">Customize and Buy</a>
			</div>
		</div>
		<div class="width-1-3rd">
			<div class="rectangle rectangle-3">36" x 24"</div>
			<div class="indicative-price">
				Starting From <span>Rs. 1,995.00</span> <br>
				<a href="/try/?width=36&height=24">Customize and Buy</a>
			</div>
		</div>
	</div>
	<h3>Check pricing for custom size</h3>
	<button class="get-started-btn">Get Started</button>
</div>
<div class="modal">
	<div class="modal-fade-screen"></div>
	<div class="modal-inner">
		<div class="modal-close" for="modal-1"><i class="ion-android-close"></i></div>
		<div class="size-container">
			<form method="GET" action="/try/" name="sizeform">
				<h3>What would be the frame size <small>(inch)</small></h3>
				<p>
					<input class="input-dimension" id="input-width" type="text" placeholder="width" name="width" value="36">
					x
					<input class="input-dimension" id="input-height" type="text" placeholder="height" name="height" value="24">
				</p>
				<button onclick="sizeform.submit();">Customize and Buy</button>
				<div class="final-price">starting from &#8377; <span class="price-span">1230</span></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}