{% extends "base_home.html" %}
{% block title%} : Frequently Asked Questions{%endblock%}
{% block body %}
<div class="container static-content">
	<h2>Terms and Conditions</h2>

	<h4 class="center">Updated on 15th May 2015</h4>

	<h5>(We are committed to the respect of your privacy and maintaining a safe and secure online shopping service.)</h5>

	<p>Welcome to our website (the "Site"). By using the Site, you are agreeing to comply with and be bound by the following terms of use. Please review the following terms carefully. If you do not agree to these terms, you should not use this Site. The term the "Publisher" refers to Framd.in, the owner of the Site. The term "you" refers to the user or viewer of our Site.</p>





									<h3>1. Acceptance of Agreement.</h3>

<p>You agree to the terms and conditions outlined in this Terms of Use Agreement (the "Agreement") with respect to the Site.This Agreement constitutes the entire and only agreement between the Publisher and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the Content and Materials (as hereinafter defined), products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended at any time by the Publisher without specific notice to you. The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site. By your using the Site, you are presumed to have notice of the latest version of this Agreement.</p>

									<h3>2. Photos/Artwork</h3>
<ul>
	<li>As a registered user of the Site (a "User") you may submit photos to the Publisher for the services offered by the
  Site. You are responsible for all items uploaded under your account (the "Account").</li>
  <li>you may not submit copyrighted material without obtaining the appropriate permission from the owner of such material.</li>
  <li>The Publisher hereby specifically acknowledges that it shall acquire no ownership rights over any images you upload
  to the Site.</li>
</ul>

									<h3>3. Age restriction.</h3>

<p>You are aware that Users must be at least thirteen (13) years of age to use the Site. You hereby represent and warrant that you are at least thirteen (13) years of age.</p>


									<h3>4. Purchases.</h3>

<p>You agree that you shall have no claims against the Publisher regarding the quality of any products purchased by you from the Purchaser so long as the product in question is an accurate depiction of the image selected by you, on the medium selected by you.</p>

									<h3>5. Registration.</h3>

<p>Certain sections of, or offerings from, the Site may require you to register as a User by creating an Account. If registration is requested, you agree to provide the Publisher with accurate, complete registration information. Each Account is for your personal use only and shall not be created on behalf of any other person or entity. You agree that any Account registered by you shall not involve (a) any person other than you making use of such Account; or (b) access through a single Account being made available to multiple users on a network. You hereby agree that you shall be liable for any failure to prevent such unauthorized use of your Account. Publisher may suspend any account suspected of unauthorized use at any time.
</p>

									<h3>6. Limitation of Liability.</h3>

<p>The Publisher and any Affiliated Party shall not be liable for any loss, injury, claim, liability, or damage of any kind resulting in any way from (a) any errors in or omissions from the Site or any services or products obtainable therefrom; (b) the unavailability or interruption of the Site or any features thereof; (c) your use of the Site; (d) any delay or failure in performance beyond the control the Publisher.</p>



									<h3>7. Legal Compliance.</h3>

<p>You agree to comply with all applicable domestic laws, statutes, ordinances and regulations regarding your use of the Site and the Content and Materials provided therein.</p>

									<h3>8. Privacy Policy.</h3>

<p>We will never share your information with any other parties.
</p>
<p>When you visit the site you may provide the Publisher with following type of information: </p>
<ul>
	<li>Personal information (name, email address and a password) you knowingly choose to disclose that is collected
	  on an individual basis during registration. </li>
	<li>If you choose to correspond with the Publisher through email, the Publisher may retain the content of your
	  email messages together with your email address and the Publisher’s responses to you.</li>
	<li>When you make a purchase from the Site you will be required to provide the Publisher with your shipping
	  and billing addresses as well as your credit card number and expiration date.</li>
	<li>Similar to other commercial web sites, the Site utilizes a standard technology called "cookies" and server logs to collect information about how the Site is used.</li>
</ul>

<p>Publisher uses personal information for purposes of administering and expanding its business activities, providing customer service and making available other products and services to its customers and prospective customers. Occasionally, the Publisher may also use the information it collects to notify you about important changes to the Site and new services and special offers the Publisher thinks you will find valuable. You may notify the Publisher at any time if you do not wish to receive these offers by emailing us at our Helpdesk.</p>


									<h3>9. Cancellation Policy.</h3>

<p>Orders can only be cancelled if they are in a payment pending stage or the product has not been sent for processing. On cancellation of the order, the entire order amount will be refunded to the customer. You may request a cancellation by contacting the Publisher by email via Framd's Helpdesk.</p>

									<h3>10. Replacement Policy.</h3>

<p>In case of any damage to goods you ordered from Site, Publisher will replace goods it with new one with no extra cost.</p>



									<h3>11. Shipping &amp; Delivery Policy.</h3>

<p>Currently deliveries are limited to Mumbai, India. We will expand our offering in other cities in coming days.
The estimated delivery time for your order will 7-10 days. In case of any delay you can contact Framd's helpdesk.</p>


</div>

{% endblock %}