{% extends "base_home.html" %}
{% block title%} : 404 error{%endblock%}
{% block body %}
<div class="container static-content">
	<h2>404. <small>That's an error</small></h2>
	<p>The requested URL {{ request_path }} was not found on this server. That’s all we know.</p>
</div>
{% endblock %}