{% extends "base_home.html" %}
{% block title%} : 500 error{%endblock%}
{% block body %}
<div class="container static-content">
	<h2>500. <small>That's an error</small></h2>
	<p>Internal server error occurred. That’s all we know.</p>
</div>
{% endblock %}