{% spaceless %}<div class="address-block" id="address-block-{{address.id}}">
    <!-- <h5>{{address.name}}</h5> -->
    <p>{{address.address}}, {{address.city}}</p>
    <form action="/customer/add_address/" method="post">
        {% csrf_token %}
        <input type="hidden" name="orderid" value="{{current_order.id}}">
        <input type="hidden" name="redirect_url" value="/order/{{current_order.id}}/">
        <input type="hidden" name="addressid" value="{{address.id}}">
        <input type="submit" class="btn full-button" value="Deliver to this address" />
    </form>
    <form class="edit-address-form hide" action="/customer/edit_address/{{address.id}}/" method="post">
        <div class="form-row">
            <label for="txt-name-modal">
                Full Name
            </label>
            <input id="txt-name-modal" type="text" name="name" value="{{address.fullname}}">
        </div>
        <div class="form-row">
            <label for="txt-number-modal">
                Mobile Number
            </label>
            <input id="txt-number-modal" type="text" name="mobile" value="{{address.contact_no}}">
        </div>
        <div class="form-row">
            <label for="txt-address-modal">
                Address
            </label>
            <textarea id="txt-address-modal" name="address">{{address.address}}</textarea>
        </div>
        <div class="form-row">
            <label for="txt-pincode-modal">
                Pincode
            </label>
            <input id="txt-pincode-modal" type="text" name="pincode" value="{{address.pincode}}">
        </div>
        <div class="form-row">
            <label for="txt-city-modal">
                City
            </label>
            <strong>Mumbai</strong> (Currently only in Mumbai)
        </div>
        <div class="form-row">
            <label for="txt-city-modal">
                Country
            </label>
            <strong>India</strong> (Service only in India)
        </div>
        <div class="form-row">
            <label for="txt-landmark-modal">
                Landmark
            </label>
            <input id="txt-landmark-modal" type="text" name="landmark" value="{{address.landmark}}">
        </div>
        {% csrf_token %}
        <div class="form-row">
            <label></label>
            <input type="submit" class="edit-address-btn" value="Save this Address">
        </div>
    </form>
    <button class="btn half-button js-edit-address" data-id="{{address.id}}">Edit</button>
    <form class="hide" action="/customer/delete_address/{{address.id}}/">{% csrf_token %}</form>
    <button class="btn half-button js-delete-address" data-id="{{address.id}}">Delete</button>
</div>{% endspaceless %}