{% extends "base_home.html" %}
{% block title%} : Admin Dashboard{%endblock%}
{% block body %}

<div class="container">

<form action='.' method='post' class="admin-search-form">
	<label>
		Order ID: 	<input id='orderid' name='orderid' type='text' />
	</label>
	{% csrf_token %}
	<input type='submit' class="btn btn-small" value='Get Detail' />
</form>
<form action='.' method='post' class="admin-search-form">
	<label>
		Name: 	<input id='name' name='name' type='text' />
	</label>
	{% csrf_token %}
	<input type='submit' class="btn btn-small" value='Get Detail' />
</form>
<form action='.' method='post' class="admin-search-form">
	<label>
		Txn ID: 	<input name='txnid' type='text' />
	</label>
	{% csrf_token %}
	<input type='submit' class="btn btn-small" value='Get Detail' />
</form>

<table class="admin-table">
	<tr>
		<th>OrderID</th>
		<th>Date</th>
		<th>Name</th>
		<th>Mobile</th>
		<th>Shipping Address</th>
		<th>Payment Status</th>
		<th>Current Status</th>
		<th>Status</th>
	</tr>
	{% for order in orders %}
	<tr>
		<td>{{order.orderid}} / {{order.price}} <a href="http://framd.in{{order.media_file}}">Download</a></td>
		<td>{{order.order_date}}</td>
		<td>{{order.order_by_name}}</td>
		<td>{{order.contact_no}}</td>
		<td class="align-left">{{order.shipping_address|linebreaksbr}}</td>
		<td>
			<ul>
				{% for status in order.payment_status %}
				<li>{{status.0}} - {{status.1|linebreaksbr}}</li>
				{% endfor %}
			</ul>
		</td>
		<td class="align-left">
			<ul>
				{% for status in order.order_status %}
				<li><b>{{status.1}}</b> - {{status.0}}</li>
				{% endfor %}
			</ul>
		</td>
		<td><form method="post" action="/admin_setstatus/">
			<input type="hidden" name="orderid" value="{{order.orderid}}">
			{% csrf_token %}
			<select onchange="$(this).parents('form').submit();" name="status">
				{% for status in order_statuses %}
				<option value="{{status.0}}" {%ifequal status.0 order.current_status%}selected{%endifequal%}>{{status.1}}</option>
				{% endfor %}
			</select>
		</form></td>
	</tr>
	{% endfor %}
</table>

</div>

{% endblock %}