{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="{%block meta-description%}{%endblock%}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Framd{%block title%} : Order Detail{%endblock%}</title>
		<link rel="stylesheet" type="text/css" href="{%get_static_prefix%}css/home.css">
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper">
			<header class="home">
				<div class="container logo-container">
					<a href="/" class="home-link"><h1 class="logo">Framd<span>.in</span></h1></a>
					<a class="hamburger" href="#"><i class="ion-navicon"></i></a>
					<ul class="header-links">
						<li><a href="/faq/">Faq</a></li>
						<li><a href="/pricing/">Pricing</a></li>
						<li><a href="/contact-us/">Contact</a></li>
						{% if user.id %}
							{% if user.is_staff %}
							<li><a href="/admin_dashboard/">Admin</a></li>
							{% else %}
							<li><a href="/orders/">Orders</a></li>
							{% endif %}
							<li><a href="/customer/logout/">Logout</a></li>
						{% else %}
							<li><a href="/customer/login/">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</header>

			{%block body%}{%endblock%}
			<div class="push"></div>
		</div>
		<footer class="footer">
		<div class="container">
			<div class="right-links">
				<a href="/terms/">Terms and Condition</a>
			</div>
			<p>Copyright (c) 2015</p>
		</div>
		</footer>

		<script type="text/javascript" src="{%get_static_prefix%}bower_components/jquery/dist/jquery.js"></script>
		{%block scripts%}
		<script type="text/javascript" src="{%get_static_prefix%}js/home.js"></script>
		{%endblock%}
		{%block extrascripts%}{%endblock%}
		<div class="overlay"></div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-64865190-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>