{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="{%block meta-description%}{%endblock%}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Framd{%block title%} : Order Detail{%endblock%}</title>
		<link rel="stylesheet" type="text/css" href="{%get_static_prefix%}css/main.css">
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div class="sidenav">
			<ul class="header-links">
				<li><a href="/"><h4>Framd.<span>in</span></h4></a></li>
				{% if user.id %}
					<li><a href="/orders/">Orders</a></li>
				{% endif %}
					<li><a href="/faq/">FAQ</a></li>
					<li><a href="/pricing/">Pricing</a></li>
					<li><a href="/contact-us/">Contact</a></li>
				{% if user.id %}
					<li><a href="/customer/logout/">Logout</a></li>
				{% endif %}

			</ul>
		</div>
		<div class="wrapper">

				<header class="home">
					<div class="container logo-container">
						<h1 class="logo" title="Framd.co">F</h1>
						<a href="/try/" class="order-new">Place New Order</a>
						<!-- <h1 class="logo">Framd<span>.co</span></h1> -->
						<!-- <ul class="header-links">
								<li><a href="#">About</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Login</a></li>
						</ul> -->
					</div>
				</header>
				{%block body%}{%endblock%}

			<div class="push"></div>
		</div>
		<footer class="footer">
			<div class="right-links">
				<a href="/terms/">Terms and Condition</a>
			</div>
			<p>Copyright (c) 2015</p>
		</footer>

		{%block scripts%}
		<script data-main="{%get_static_prefix%}js/site/config" src="{%get_static_prefix%}js/vendor/require.js"></script>
		{%endblock%}
		{%block extrascripts%}{%endblock%}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-64865190-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>