{% extends "base.html" %}
{% load static %}
{% block title %} : Frame Editor{% endblock %}

{% block body %}

<div class="notification">
	<a href="#" class="dismiss-link" onclick="$('.notification').removeClass('visible');return false;"><i class="ion-android-close"></i></a>
	<div class="message">
		<p class="main-message">Oops! quality of this selected image is not sufficient for getting print of selected size. </p>
		<p>
			<span>Recommended size : </span>
			<span id="recommended-sizes"><a href="#" class="size-link">36x24</a></span>
		</p>
	</div>
</div>

<div class="wall-container">
	<!-- <h2 class="page-title">Order Detail</h2> -->
	<div class="wall">
		<h2 class="page-title">Frame Editor</h2>
		<!-- <div class="footer"></div> -->
		<div class="frame-box box-item">
			<div class="frame-container" >
				<div class="show-width">
					<i class="ion-ios-arrow-left"></i>
					<span>24 "</span>
					<i class="ion-ios-arrow-right"></i>
				</div>
				<div class="show-height">
					<i class="ion-ios-arrow-down"></i>
					<span>24 "</span>
					<i class="ion-ios-arrow-up"></i>
				</div>
				<div class="frame">
					<span class="message">Add Photo</span>
					<a href="#" class="change-image">Change Image</a>
				</div>
				<form method="post" id="form-order" action="/checkout/" enctype="multipart/form-data">
					<input type="file" class="file-input" name="imagefile">
					{%csrf_token%}
				</form>
			</div>
			<div class="frame-shadow"></div>
		</div>
		<div class="progress-indicator box-item">
			<ul class="step">
				<li class="active">
					<div class="number">1</div>
					<span>Select Photo for Printing</span>
				</li>
				<li>
					<div class="number">2</div>
					<span>Customize Frame</span>
				</li>
				<li>
					<div class="number">3</div>
					<span>Place your order</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="color-picker">
		<a id="colorpicker"><i class="ion-ios-color-wand"></i> Change wall Color</a>
	</div>
	<!-- <img src="img/sample.jpg" height="451" width="450" class="sample"> -->
</div>
<div class="controls-container">
	<div class="collapse-link">
		<div id="nav-icon">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	</div>

	<div class="controls-section">
		<section>
			<h3>Print Dimension <small>(inch)</small></h3>
			<form>
				<label>
					<input type="text" id="image-width" class="input-dimension">
				</label>
				<span class="x">x</span>
				<label>
					<input type="text" id="image-height" class="input-dimension">
				</label>
				<a href="#" class="link-orientation-lock" title="Orientation Lock"><i class="ion-ios-locked"></i></a>
				<!-- <select id="unit">
					<option value="feet">feet</option>
					<option value="inch">inch</option>
					<option value="cm">cm</option>
					<option value="meter">meter</option>
				</select> -->
			</form>
			<div class="warning size-warning hide"><i class="ion-android-warning"></i> Size too big for selected image</div>
		</section>
		<section>
			<h3>Frame Setting</h3>
			<form>
				<h4>Style</h4>
				<div class="frame-options">
					<a href="#" class="frame-link" data-type="black">
						<div class="sample-frame black-frame"></div>
					</a>
					<a href="#" class="frame-link" data-type="brown">
						<div class="sample-frame brown-frame"></div>
					</a>
					<a href="#" class="frame-link" data-type="white">
						<div class="sample-frame white-frame"></div>
					</a>
				</div>
				<h4>Width</h4>
				<div class="range-container">
					<input type="hidden" class="frame-width" value="0.75" />
				</div>

			</form>
		</section>
		<section>
			<h3>Mat Setting</h3>
			<h4>Style</h4>
			<form>
				<div class="mat-options">
					<a href="#" class="mat-link" data-type="white">
						<div class="sample-frame black-frame sample-mat white-mat"></div>
					</a>
					<a href="#" class="mat-link" data-type="black">
						<div class="sample-frame black-frame sample-mat black-mat"></div>
					</a>
				</div>
			</form>
			<h4>Width</h4>
			<div class="range-container">
				<input type="hidden" class="mat-width" value="2.00" />
			</div>
			<div class="glass-option-container">
				<label>
					<input type="checkbox" id="input-with_glass" name="no-glass"  />
					Glass on Top
				</label>
				<p class="help-text">If you have no matting (inside border), then you have an option to not put the glass layer.</p>
			</div>
		</section>
	</div>
	<section class="buy">
		<div class="final-price">
			&#8377; <span id="id-final-price">980</span>.00
			<div class="message">incl. taxes and shipping</div>
		</div>
		<button class="btn buy-now">Buy Now</button>
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
	</section>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	{% if order_object %}
		var ORDER_OBJECT = '{{order_object|escapejs}}';
	{% else %}
		var WIDTH = {{width}};
		var HEIGHT = {{height}};
	{% endif %}
</script>
<script data-main="{%get_static_prefix%}js/app/config" src="{%get_static_prefix%}js/vendor/require.js"></script>
{% endblock %}