{% extends "base_home.html" %}
{% load static %}
{% block title %} : Forgot Password{% endblock %}

{% block body %}
<div class="center-container">
	<div class="border-container">
		<h2>Forgot Password</h2>
		{% if error %}
		<p class="error">{{error}}</p>
		{% endif %}
		{% if success %}
		<p class="success">{{success}}</p>
		{% endif %}
		<form method='post' action='/customer/forgot_password/'>
			<div class="form-row">
				<input type='text' name='email' placeholder="Email Address" value="{{email}}">
			</div>
			{% csrf_token %}
			<div class="form-row">
			<input type='submit' class="login-btn btn" value='Reset Password'>
			</div>

		</form>
	</div>
	<div class="box-footer-links">
		Remember Password? <a href="/customer/login/">Login</a>
	</div>
</div>
{% endblock %}