{% extends "base_home.html" %}
{% block title%}{%endblock%}
{% block body %}
	<section class="pane head">
		<div class="container">
			<div class="hero">
				<h2>Flaunt your memories in style</h2>
				<p>
					Preserve your memories or exhibit your regal art collection with Framd. 
					We help you seal that innocent smile, the excitement of your first date, adventure with friends and what not, with our poster size printing and framing solution.
				</p>
				<button class="get-started-btn">Get Started</button>
			</div>
			<img src="/static/img/frames/frame-home.png" class="home-image">
		</div>
	</section>
	<section class="pane screen-1">
		<div class="pane-image-container">
			<img src="/static/img/frames/frame1.png">
		</div>
		<div class="screen-message">
			<h2>Elegant walls and Cherished memories</h2>
			<p class="sub-head">
				Pick the most memorable photos and beautify the wall with several frames showcasing the journey of your life., or simply pick that one photo that changed your life forever. 
			</p>
			<p class="sub-head">
				
			</p>
			<button class="get-started-btn">Get Started</button>
		</div>
		<div class="app-screen"></div>
	</section>
	<section class="pane screen-2">
		<div class="pane-image-container">
			<img src="/static/img/frames/frame1.png">
		</div>
		<div class="screen-message">
			<h2>Wall that suits your aesthetic taste</h2>
			<p class="sub-head">Use framd to pick the right size of frame and add borders to your favorite souvenir/painting/canvas, the very reflection of your artistic penchant.</p>
			<button class="get-started-btn">Get Started</button>
		</div>
		<div class="app-screen"></div>
	</section>
	<section class="pane screen-3">
		<div class="pane-image-container">
			<img src="/static/img/frames/frame1.png">
		</div>
		<div class="screen-message">
			<h2>Looking for gift idea.</h2>
			<p class="sub-head">Surprise your loved one with beautiful framed artwork.
			Decorate your wall with poster size print of your favorite sport person, movie scene, quote.</p>
			<button class="get-started-btn">Get Started</button>
		</div>
		<div class="app-screen"></div>
	</section>
	<!-- <section class="pane screen-4">
		<div class="pane-image-container">
			<img src="/static/img/frames/frame1.png">
		</div>
		<div class="screen-message">
			<h2>Some Heading 4</h2>
			<p class="sub-head">Other sample text for sub-text, you can write something here</p>
			<button class="get-started-btn">Get Started</button>
		</div>
		<div class="app-screen"></div>
	</section>
	<section class="pane screen-5">
		<div class="pane-image-container">
			<img src="/static/img/frames/frame1.png">
		</div>
		<div class="screen-message">
			<h2>Some Heading 5</h2>
			<p class="sub-head">Other sample text for sub-text, you can write something here</p>
			<button class="get-started-btn">Get Started</button>
		</div>
		<div class="app-screen"></div>
	</section> -->
	<div class="modal">
		<div class="modal-fade-screen"></div>
		<div class="modal-inner">
			<div class="modal-close" for="modal-1"><i class="ion-android-close"></i></div>
			<div class="size-container">
				<form method="GET" action="/try/" name="sizeform">
					<h3>What would be the frame size <small>(inch)</small></h3>
					<p>
						<input class="input-dimension" id="input-width" type="text" placeholder="width" name="width" value="36">
						x
						<input class="input-dimension" id="input-height" type="text" placeholder="height" name="height" value="24">
					</p>
					<button onclick="sizeform.submit();">Customize and Buy</button>
					<div class="final-price">starting from &#8377; <span class="price-span">1230</span></div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}