{% extends "base_home.html" %}
{% load static %}
{% block title %} : Login{% endblock %}

{% block body %}
<div class="center-container">
	<div class="border-container">
	<h2>Login</h2>
	{% if error %}
	<p class="error">{{error}}</p>
	{% endif %}
	<form class="signin-form" action="/customer/login/" method="post">
	    <div class="form-row">
	        <input id="txt-email" type="email" name="email" placeholder="Email Address" value="{{email}}">
	    </div>
	    <div class="form-row">
		    <input id="txt-password" type="password" name="password" placeholder="Password" value="{{password}}">
	    </div>
	    <div class="form-row">
	    {%csrf_token%}
	    <input type='hidden' name='redirect_url' value='{{redirect_url}}'>
	    <input type="submit" class="login-btn btn" value="Sign In">
	    </div>

	</form>
	</div>
	<div class="box-footer-links">
		Not a Member? <a href="/customer/register/">Register</a>
		<span class="align-right">
			<a class="small-text" href="/customer/forgot_password/">Forgot your password?</a>

		</span>
	</div>
</div>
{% endblock %}