{% extends "base.html" %}
{% load static %}
{% block title %} : Order Detail{% endblock %}

{% block body %}
<div class="container">
    <h2 class="page-title">Order Detail</h2>

    <div class="order-page">
        <div class="poster-container">
            <div class="poster-detail">
                <div class="poster-image-container">
                    <img class="poster-image" src='/media/{{current_order.photo.imagefile}}'/>
                </div>
                <div class='poster-info'>
                    <div class="poster-cost">&#8377; {{current_order.offered_price}}</div>
                    <p><span>Frame Type</span> {{current_order.frame.frame.name}}</p>
                    <p><span>Frame width</span> {{current_order.frame.thickness}} "</p>
                    <p><span>Mat Type</span> {{current_order.cardboard.name}}</p>
                    <p><span>Mat width</span> {{current_order.cardboard_thickness}}"</p>
                    <p><span>Final Size</span> {{current_order.final_width}}" <i class="ion-close-round"></i> {{current_order.final_height}}"</p>

                    {# <p><span>Wall Color</span>{{current_order.wall_color_bg}}</p> #}
                </div>
            </div>
            {% if user.id %}
            <a href="/orders/">View all orders</a>
            {% endif %}
        </div>
        <div class="order-detail">
            {% if not confirmed %}
            <ul class="checkout-progress">
                <li class="done"><span><i class="ion-ios-person-outline"></i> Sign-in</span></li>
                <li {%if user.id %}class="done"{%endif%}><span><i class="ion-ios-location-outline"></i> Deliery Information</span></li>
                <li {% if ready_for_payment or confirmed %}class="done"{%endif%}><span><i class="ion-ios-cart-outline"></i> Payment</span></li>
                <li {% if confirmed %}class="done"{%endif%}><span><i class="ion-ios-checkmark-outline"></i> Complete</span></li>
            </ul>
            {% endif %}
            {% if not user.id %}
            <div class="order-sign-in normal-form">
                <h3>Sign In</h3>
                <form class="signin-form" action="/customer/login/" method="post">
                    <div class="form-row">
                        <label for="txt-email">
                            E-mail address
                        </label>
                        <input id="txt-email" type="email" name="email" placeholder="someone@example.com">
                    </div>
                    <div class="form-row">
                    <label>
                        <input class="signin-radio" id="radio-new-user" type="radio" name="has-password" value="1" checked="checked">
                        I am a new customer.
                        <small>(We'll create an account for you and email you the password)</small>
                    </label>
                    </div>
                    <div class="form-row">
                    <label>
                        <input class="signin-radio" type="radio" name="has-password" value="2">
                        I am a returning customer, and my password is:
                    </label>
                    </div>
                    <div class="form-row">
                    <input id="txt-password" type="password" name="password" placeholder="password" disabled="disabled">
                    </div>
                    <div class="form-row">
                    {%csrf_token%}
                    <input type="hidden" name="redirect_url" value="/order/{{current_order.id}}/">
                    <input type="submit" class="login-btn" value="Sign In">
                    </div>
                    <div class="form-row">
                        <a class="small-text" href="/customer/forgot_password/">Forgotten your password?</a>
                    </div>
                </form>
            </div>
            {% else %}
                {% if not confirmed %}
                    {% if not ready_for_payment %}
                    <div class="order-address normal-form">
                        <h3>Select a delivery address</h3>
                        <p>Is the address you'd like to use displayed below? If so, click the corresponding "Deliver to this address" button. Or you can enter a new delivery address.</p>
                        <hr />
                        {% if addresses %}
                            {% spaceless %}
                            <div class="addresses-container">
                            {% for address in addresses %}
                                {% include "address-block.html" with address=address %}
                            {% endfor %}
                            </div>
                            {% endspaceless %}
                        {% endif %}
                        <h4>Add a new Address</h4>
                        <form class="new-address-form" action="/customer/add_address/" method="post">
                            <div class="form-row">
                                <label for="txt-name">
                                    Full Name
                                </label>
                                <input id="txt-name" type="text" name="name">
                            </div>
                            <div class="form-row">
                                <label for="txt-number">
                                    Mobile Number
                                </label>
                                <input id="txt-number" type="text" name="mobile">
                            </div>
                            <div class="form-row">
                                <label for="txt-address">
                                    Address
                                </label>
                                <textarea id="txt-address" name="address"></textarea>
                            </div>
                            <div class="form-row">
                                <label for="txt-pincode">
                                    Pincode
                                </label>
                                <input id="txt-pincode" type="text" name="pincode">
                            </div>
                            <div class="form-row">
                                <label for="txt-city">
                                    City
                                </label>
                                <strong>Mumbai</strong> (Currently only in Mumbai)
                            </div>
                            <div class="form-row">
                                <label for="txt-city">
                                    Country
                                </label>
                                <strong>India</strong> (Service only in India)
                            </div>
                            <div class="form-row">
                                <label for="txt-landmark">
                                    Landmark
                                </label>
                                <input id="txt-landmark" type="text" name="landmark">
                            </div>
                            {% csrf_token %}
                            <input type="hidden" name="orderid" value="{{current_order.id}}">
                                <input type="hidden" name="redirect_url" value="/order/{{current_order.id}}/">
                            <div class="form-row">
                                <label></label>
                                <input type="submit" class="login-btn" value="Deliver to this address">
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="order-payment">
                        <h3>Make Payment</h3>
                        <p>Currently we support on Cash-on-delivery. Other modes of payments are coming soon.</p>
                        <p>
                        <form method="post" action="/order/{{current_order.id}}/makepayment/">
                            {% csrf_token %}
                            <input type="hidden" name="confirmed" value="true">
                            <input type="submit" value="Make Payment">
                        </form>
                        </p>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="order-complete">
                        <!-- <h2><i class="ion-ios-checkmark-outline"></i> Order Placed</h2> -->
                        <div class="order-info">
                            <div class="row">
                                <div class="order-info-detail">
                                    <span>Order ID</span>
                                    #{{current_order.id}}
                                </div>
                                <div class="order-info-detail">
                                    <span>Order Date</span>
                                    {{current_order.ordered_time}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="order-info-detail">
                                    <span>Current Status</span>
                                    {{order_status}}
                                </div>
                                {% if current_order.estimated_date %}
                                <div class="order-info-detail">
                                    <span>Expected Delivery</span>
                                    {{current_order.estimated_date|date:"D d M Y"}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <ul class="order-progress">
                            <li {% if order_status_index >= 1 %}class="done"{%endif%}><i class="circle" data-order="1"></i><span>Order Placed</span></li>
                            <li {% if order_status_index > 2 %}class="done"{%endif%}><i class="circle" data-order="2"></i><span>Order Confirmed</span></li>
                            <li {% if order_status_index > 6 %}class="done"{%endif%}><i class="circle" data-order="3"></i><span>In Processing</span></li>
                            <li {% if order_status_index > 7 %}class="done"{%endif%}><i class="circle" data-order="4"></i><span>Shipped</span></li>
                            <li {% if order_status_index > 8 %}class="done"{%endif%}><i class="circle" data-order="5"></i><span>Delivered</span></li>
                        </ul>
                        <script type="text/javascript">
                            window.openPrintWindow = function(){
                                'use strict';
                                var myWindow=window.open('/order/{{current_order.id}}/print/','My Order','width=800,height=500');
                                myWindow.focus();
                                myWindow.print();
                            };
                        </script>
                        <br>
                        <a href="javascript:void(0);" onclick="openPrintWindow();"target="_blank">Print Order Detail</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="modal large">
        <div class="modal-fade-screen"></div>
        <div class="modal-inner">
            <div class="modal-close" for="modal-1"><i class="ion-android-close"></i></div>
            <h3>Edit Address</h3>
            <div class="size-container order-address normal-form" id="modal-address-div">

            </div>
        </div>
    </div>
</div>
{% endblock body %}
