<head>
	<head>
		<style>
			* { margin: 0; padding: 0; }
			body {width: 100%; height: 100%;}
			#orderdetail {width: 60%; height: 75%; margin: 5% auto; background-color: #fed; display: block;}
			/*#authform {margin-left:auto; margin-right:auto;}*/
			#poster { 
				width:40%; 
				/*position: relative; top: 35%; transform: translateY(-35%);*/
				margin-left: 2%;
				margin-top: 2%;
				margin-bottom: 2%;
				margin-right: 2%;
				float: left;

			}
			#authform {
				width:40%; 
				position: relative; top: 20%; transform: translateY(-20%);
				margin-left: 2%;
				float: left;
			}
			

			#posterinfo {margin-top: 5%; font-size: 16px; line-height: 30px; font-family: sans-serif;}
			#posterinfo span {font-weight: 200; text-decoration: underline;}
			#poster img {width: 100%; }
		</style>
	</head>
	<body>
		&nbsp;
			<div id='orderdetail'>
				<div id='poster'>
					<img src='/media/{{current_order.photo.imagefile}}'/>
					<div id='posterinfo'>
						<p><span>Frame Type</span>&nbsp;&nbsp;{{current_order.frame.frame.name}}</p>
						<p><span>Frame width</span>&nbsp;{{current_order.frame.thickness}} "</p>
						<p><span>Mat Type</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_order.cardboard.name}}</p>
						<p><span>Mat width</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_order.cardboard_thickness}}"</p>
						<p><span>Final Size</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_order.final_width}}" x {{current_order.final_height}}"</p>
						<p><span>Wall Color</span>&nbsp;&nbsp;&nbsp;&nbsp;{{current_order.wall_color_bg}}</p>
						<p><span>Cost</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INR. {{current_order.offered_price}}</p>
					</div>
				</div>
				<div id='authform'>
					email:<input type='text' name='email'><br/>
					password:<input type='password' name='password'><br/>
					mobileno:<input type='text' name='mobileno'><br/>
					<input type='submit' value='register'>
				</div>
			</div>
	</body>
</head>

<!-- <body>
		{% if not current_user %}
			Register:
			<form>
				email:<input type='text' name='email'><br/>
				password:<input type='password' name='password'><br/>
				mobileno:<input type='text' name='mobileno'><br/>
				<input type='submit' value='register'>
			</form>
			<br/><br/><br/>
			or Login
			email:<input type='text' name='email'><br/>
			password:<input type='password' name='password'><br/>
			<input type='submit' value='login'>
		{% endif%}
		<hr/>
		Current Order <br/>
		<img src='/media/{{current_order.photo.imagefile}}' width=200/><br/><br/>
		Frame Type: {{current_order.frame.frame.name}}<br/>
		Frame width: {{current_order.frame.thickness}} "<br/>
		Mat Type: {{current_order.cardboard.name}}<br/>
		Mat width: {{current_order.cardboard_thickness}}"<br/>
		Final Size: {{current_order.final_width}}" x {{current_order.final_height}}"<br/>
		Wall Color: {{current_order.wall_color_bg}}
		Cost: INR. {{current_order.offered_price}}

		<br/><br/><br/>
		{%if prev_order%}
			Prev order:<br/><br/>
		{%endif%}
		{%for order in prev_order%}
			<img src='/media/{{current_order.photo.imagefile}}' width=100/><br/><br/>
			Frame Type: {{current_order.frame.frame.name}}<br/>
			Frame width: {{current_order.frame.thickness}} "<br/>
			Mat Type: {{current_order.cardboard.name}}<br/>
			Mat width: {{current_order.cardboard_thickness}}"<br/>
			Final Size: {{current_order.final_width}}" x {{current_order.final_height}}"<br/>
			Wall Color: {{current_order.wall_color_bg}}
			Cost: INR. {{current_order.offered_price}}
			<hr/>
		{%endfor%}
	</body> -->

