<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Order Detail</title>
	<style type="text/css">
	body{
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		line-height: 1.6;
	}
	.order-number{
		color: #E84100;
		font-size: 1.2em;
	}
	.poster-image{
		width: 200px;
	}
	.table {
		border-collapse: collapse;
	}
	.table tr td{
		vertical-align: top;
		border: 1px solid #333;
		padding: 10px;
	}
	.table tr th{
		font-size: 0.8em;
		border: 1px solid #333;
		padding: 5px;
		font-weight: normal;
		background-color: #eee;
	}
	.poster-info p{
		margin: 0 0.4em;
		text-transform: capitalize;
	}
	.poster-info p span{
		display: inline-block;
		text-transform: none;
		width: 6.5em;
		color: #686868;
		font-weight: 300;
	}
	.poster-info p em{
		text-transform: none;
		font-style: normal;
	}

	.footer{
		font-size: 0.9em;
		margin: 2em 0;
	}
	.poster-cost{
		color: #06A4D9;
		font-size: 1.3em;
	}
	h4{
		margin: 0.2em 0;
	}

	</style>

</head>
<body>
<p>Dear Nitin,</p>

<p>Thank you for placing an order with us. Your order no is : <span class="order-number">203351952</span>.</p>

<p>
Your order is currently being processed. If you have any questions, please mail us at contact@framd.in, For any help - Please feel free to call our customer care at +91 9819263629 (<strong>10 AM - 7 PM</strong>) or simply SMS your order number to +91 9819263629 and we will contact you.
</p>

<h3>Purchasing Information</h3>

<h4>Shipping Address:</h4>
{{address.fullname}} <br>
{{address.address}} <br>
{{address.city}}, {{address.pincode}} <br>
{{address.country}} <br>
<strong>Landmark : </strong> {{address.landmark}} <br>
<strong>Phone</strong>: {{address.contact_no}}

<h3>Order Information</h3>
<table width="100%" class="table">
	<tr>
		<th>Product Image</th>
		<th>Product Detail</th>
		<th>Estimated Delivery</th>
		<th>Price</th>
	</tr>
	<tr>
		<td width="200px"><img width='200px'; src='/media/{{current_order.photo.imagefile}}'></td>
		<td>
			<div class='poster-info'>

			    <p><span>Frame type</span> {{current_order.frame.frame.name}}</p>
			    <p><span>Frame width</span> {{current_order.frame.thickness}} "</p>
			    <p><span>Mat type</span> {{current_order.cardboard.name}}</p>
			    <p><span>Mat width</span> {{current_order.cardboard_thickness}}"</p>
			    <p><span>Final size</span> {{current_order.final_width}}" <em>x</em> {{current_order.final_height}}"</p>
			</div>
		</td>
		<td>
			{{current_order.ordered_time|date:"D, d M Y"}}
		</td>
		<td>
			<div class="poster-cost">&#8377; {{current_order.offered_price}}</div>
		</td>
	</tr>
</table>
<p class="footer">
	Thanks again for shopping with us. <br>
	Get Framd! <br>
	<a href="http://www.framd.in">www.framd.in</a>
</p>
</body>
</html>
