{% extends "base.html" %}
{% load static %}
{% block title %} : Order Detail{% endblock %}

{% block body %}
<div class="container">
	<h2 class="page-title">Order List</h2>

	{% if user_orders %}
	<div class="order-list-container">
		{% for order in user_orders %}
			<div class="order-container">
				<div class="poster-container">
					<div class="poster-detail">
						<div class="poster-image-container">
							<img class="poster-image" src='/media/{{order.photo.imagefile}}'/>
						</div>
						<div class='poster-info'>
							<div class="poster-cost">&#8377; {{order.offered_price}}</div>
							<p><span>Frame Type</span> {{order.frame.frame.name}}</p>
							<p><span>Frame width</span> {{order.frame.thickness}} "</p>
							<p><span>Mat Type</span> {{order.cardboard.name}}</p>
							<p><span>Mat width</span> {{order.cardboard_thickness}}"</p>
							<p><span>Final Size</span> {{order.final_width}}" <i class="ion-close-round"></i> {{order.final_height}}"</p>

							{# <p><span>Wall Color</span>{{order.wall_color_bg}}</p> #}
						</div>
					</div>
				</div>
				<div class="order-detail">
				<div class="order-complete">
					<div class="order-info">
						<div class="row">
							<div class="order-info-detail">
								<span>Order ID</span>
								<a href="/order/{{order.id}}/">#{{order.id}}</a>
							</div>
							<div class="order-info-detail">
								<span>Order Date</span>
								{{order.ordered_time}}
							</div>
						</div>

						<div class="row">
							<div class="order-info-detail">
								<span>Current Status</span>
								{{order.current_status}}
							</div>
							{% if order.estimated_date %}
							<div class="order-info-detail">
								<span>Expected Delivery</span>
								{{order.estimated_date|date:"D d M Y"}}
							</div>
							{% endif %}
						</div>

					</div>
					<a href="/order/{{order.id}}/">View Details</a>
				</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% else %}
	<p>
		You haven't placed any order yet, <a href="/try/">Get started</a> now.
	</p>
	{% endif %}
</div>

{% endblock %}
	{% for order in user_orders %}
	{{order.id}}
{% endfor %}