{% extends "base_home.html" %}
{% load static %}
{% block title %} : Register{% endblock %}

{% block body %}
<div class="center-container">
	<div class="border-container">
	<h2>Register</h2>
	{% if error %}
	<p class="error">{{error}}</p>
	{% endif %}
	<form class="signin-form" action="/customer/login/" method="post">
	    <div class="form-row">
	        <input id="txt-email" type="email" name="email" placeholder="Email Address" value="{{email}}">
	    </div>
        <div class="form-row">
        	<div class="txt-prepend">
        		<label for="txt-mobile"><div>+91</div></label>
        		<input id="txt-mobile" class="txt-mobile" type="text" name="contact_no" placeholder="Mobile Number" value="{{contact_no}}">
    	    </div>
        </div>
	    <div class="form-row">
		    <input id="txt-password" type="password" name="password1" placeholder="Password" value="{{password}}">
	    </div>
	    <div class="form-row">
	    {%csrf_token%}
	    <input type="submit" class="login-btn btn" value="Register">
	    </div>
	</form>
	</div>
	<div class="box-footer-links">
		Already Registered? <a href="/customer/login/">Login</a>
	</div>
</div>
{% endblock %}