
{% extends "base_home.html" %}
{% load static %}
{% block title %} : Change Password{% endblock %}

{% block body %}
<div class="center-container">
	<div class="border-container">
		<h2>Change Password</h2>
		{% if error %}
		<p class="error">{{error}}</p>
		{% endif %}
		{% if success %}
		<p class="success">{{success}}</p>
		{% endif %}
		<form method='post' action='.'>
			<div class="form-row">
			<input type='password' name='password1' placeholder="Password">
			</div>
			<div class="form-row">
			<input type='password' name='password2' placeholder="Confirm Password">
			</div>
			{%csrf_token%}
			<div class="form-row">
			<input type='submit' class="login-btn btn" value='Set Password'>
			</div>
		</form>
	</div>
	<div class="box-footer-links">
		Remember Password? <a href="/customer/login/">Login</a>
	</div>
</div>
{% endblock %}