<p>Hello {{username}},</p>


<p>Welcome to Framd. Thanks for signing up! We are excited to have you join us and help you to frame your Photo/Art.</p>

<p>{%if password%}
	Your temporory password: <b>{{password}}</b>
{%endif%}
{%if password_reset_link%}
	To reset your password <a href=''>Click here</a>
{%endif%}
</p>

<p><a href='https://framd.in/'>Framd</a> helps you to print and frame your poster size photos/art piece at affordable price. Here is how it works:</p>

<ol>
<li>Upload your Photo/Art work.</li>
<li>Customise it's size, choose frame type, mat  color etc.</li>
<li>See how it looks with your wall color.</li>
<li>Place an order, We will print and frame it and deliver it to provided address with in 7-10 days.</li>
</ol>

<p>Want to decorate your wall with your favorite photo. <a hred='https://framd.in/try/'>Start here</a></p>


<p>Looking forward to see you again at <a href='https://framd.in/'>Framd.in</a></p>

<p>
Keep Framing, <br>
Framd Team
</p>
