@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Define your breakpoints
$desktop: new-breakpoint(max-width 1280px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$landscape-mobile: new-breakpoint(max-height 480px orientation landscape);