
.wall-container {
  position: fixed;
  width: 100%;
  // @include calc(width, "100% - 400px");
  height: 100%;
  &.open{
    .wall{
      @include  transform(translate(-200px, 0));
    }
  }
  .color-picker{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    font-weight: 200;
    font-size: 13px;
    input{
      visibility: hidden;
    }
    i{
      font-size: 16px;
    }
    a{
      color: #999;
      &:hover{
        color: #444;
      }
    }
    @include media($tablet) { display: none; }
  }
}

.wall{
  background-color: #fff;
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
  padding: 0 0 75px;
  @include transition(all 0.25s ease-in-out);

  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    // background-image: url('../img/blacknoise.png');
  }
  &:after{
    // @include linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
  }
  h3{
    margin: 0px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.96em;
    line-height: 50px;
    @include flex(0 0 auto);
  }
  .progress-indicator{
    text-align: center;
    font-weight: 200;
    color: #333;
    text-align: center;
    width: 100%;
    z-index: 10;
    height: 60px;
    @include flex(1 0 auto);
    position: relative;
    @include media($landscape-mobile){
      display: none;
    }
    ul{
      position: absolute;
      top: 50%;
      @include transform(translate(0, -50%));
      width: 100%;
      padding: 0;
      margin: 0;
      white-space: nowrap;
    }
    li{
      list-style: none;
      margin: 0 2em;
      display: inline-block;
      opacity: .25;
      &.active{
        opacity: 1;
      }
    }
    .number{
      width: 2.25em;
      height: 2.25em;
      border-radius: 50%;
      border: 1px solid #bbb;
      line-height: 2.25em;
      text-align: center;
      font-size: 1em;
      display: inline-block;
      margin-right: 10px;
    }
    @include media(max-width 700px){
      ul{
        padding-bottom: 1.6em;
        span{
          display: none;
          position: absolute;
          left: 50%;
          @include transform(translateX(-50%));
        }
      }
      li{
        margin: 0 0.7em;
      }
      li.active{
        span{display: block;}
      }
      .number{
        margin-right: 0;
      }
    }
  }
  .frame-box{
    @include flex(1 1 auto);
    position: relative;
  }
}
.frame-shadow{
  pointer-events: none;
}
.frame-container, .frame-shadow{
  // position: relative;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  width: 500px;
  height: 300px;
  visibility: hidden;
  opacity: 0;
  // @include transition(all 0.3s);
  // overflow: hidden;
  &.show{
    visibility: visible;
    opacity: 1;
  }
  // padding: 21px;
  @include box-sizing(border-box);
  // @include transition(all 0.3s);
  .file-input{
    visibility: hidden;
    position: absolute;
    left: -9000px;
  }
  .show-width, .show-height{
    position: absolute;
    @include box-sizing(border-box);
    line-height: 1;
    @include media($mobile) { display: none; }
    @include media($landscape-mobile){ display: none; }
    span{
      position: absolute;
      font-size: 11px;
      padding: 4px 10px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      font-weight: 300;
    }
    i{
      position: absolute;
    }
  }
  .show-width{
    text-align: center;
    width: 100%;
    color: #bbb;
    border-bottom: 1px solid #eee;
    top: -25px;
    span{
      // top: -12px;
    }
    i.ion-ios-arrow-left, i.ion-ios-arrow-right{
      top: -4px;
      font-size: 9px;
      color: #bbb;
    }
    i.ion-ios-arrow-left{
      left: 0;
    }
    i.ion-ios-arrow-right{
      right: 0;
    }
  }
  .show-height{
    height: 100%;
    border-left: 1px solid #eee;
    left: -25px;
    color: #bbb;
    span{
      @include transform(translate(-50%, -50%) rotate(-90deg));
      white-space: nowrap;
    }
    i.ion-ios-arrow-up, i.ion-ios-arrow-down{
      left: -3px;
      font-size: 9px;
      color: #bbb;
    }
    i.ion-ios-arrow-up{
      top: -5px;
    }
    i.ion-ios-arrow-down{
      bottom: -5px;
    }
  }
}
.frame{
  background-color: #E6E6E6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  text-align: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  &.has-image{
    cursor: auto;
    line-height: 1 !important;
    .message{
      display: none;
    }
    .change-image{
      display: block;
    }
  }
  &:hover{
    .message{
      color: #888;
    }
  }
  .change-image{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .message{
    font-size: 24px;
    font-weight: 200;
    color: #aaa;
  }
}

.controls-container{
  position: absolute;
  width: 400px;
  max-width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
  @include box-sizing(border-box);
  @media screen and (max-width: 480px), screen and (max-height: 480px) {
    width: 100%;
  }
  &.open{
    .controls-section{
      @include transform(translate(-100%, 0));
    }
  }
  .collapse-link{
    position: absolute;
    right: 20px;
    top: 20px;
    // background-color: #fff;
    padding: 10px;
    z-index: 11;
    pointer-events: auto;
    @include media($mobile){
      top: 10px;
      right: 10px;
    }
  }
  .controls-section{
    position: absolute;
    left: 100%;
    top: 0;
    width: 400px;
    max-width: 100%;
    @include calc(height, "100% - 73px");
    // @include transform(translate(400px, 0));
    @include transition(all 0.25s ease-in-out);
    // box-shadow: -1px 0 10px rgba(0,0,0,0.1);
    border-left: 1px solid #ddd;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px 20px;
    pointer-events: auto;
    @include media($mobile) {
      padding: 0 10px;
      @include calc(height, "100% - 50px");
    }
    @include media($landscape-mobile) {
      padding: 0 10px;
      @include calc(height, "100% - 56px");
    }
  }
  .input-dimension{
    width: 80px;
  }
  h3, h4{
    font-weight: 300;
  }
  h4{
    font-size: 14px;
    text-transform: uppercase;
  }
  .range-container{
    margin: 30px 0 40px;
    padding: 0 10px;
  }
}


.frame-options, .mat-options{
  // @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include align-items(flex-start);
  @include align-content(flex-start);
  @include justify-content(flex-start);
  margin-bottom: 20px;
  .frame-link, .mat-link{
    margin: 0 4px;
    // @include flex(1);
    @include flex-grow(0);
    @include flex-shrink(1);
    width: 115px;
    display: block;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  .sample-frame{
    @include size(100% 75px);
    @include box-sizing(border-box);
    background: #E2E2E2;
    border: 4px solid #F6F6F6;
    &.black-frame{
      border-color: #444;
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.60), inset 1px 1px 3px 0px rgba(0,0,0,0.5), inset 0px 0px 0px 6px #FFFFFF;
    }
    &.brown-frame{
      border-color: #79452E;
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.60), inset 1px 1px 3px 0px rgba(0,0,0,0.5), inset 0px 0px 0px 6px #FFFFFF;
    }
    &.white-frame{
      border-color: #f5f5f5;
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.50), inset 1px 1px 3px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 6px #FFFFFF;
    }
  }
  .sample-mat{
    @include size(100% 75px);
    @include box-sizing(border-box);
    &.white-mat{
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.60), inset 1px 1px 3px 0px rgba(0,0,0,0.5), inset 0px 0px 0px 6px #FFFFFF;
    }
    &.blue-mat{
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.60), inset 1px 1px 3px 0px rgba(0,0,0,0.5), inset 0px 0px 0px 6px #C7ECFF;
    }
    &.black-mat{
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.50), inset 1px 1px 3px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 6px #777777;
    }
  }
}

.glass-option-container{
  font-weight: 300;
  p.help-text{
    font-size: 0.8em;
    margin-top: 0.3em;
  }
}
section.buy{
  font-family: "Helvetica Neue", Arial, sans-serif;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  padding: 1em 20px;
  @include box-sizing(border-box);
  background-color: #fff;
  text-align: right;
  pointer-events: auto;
  @include clearfix;
  .final-price{
    float: left;
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
    text-align: left;
    line-height: 1.2;
  }
  .message{
    font-size: .5em;
    color: #999;
  }
  .buy-now{
    @extend .btn;
  }
  @media screen and (max-width: 480px), screen and (max-height: 480px) {
    padding: 0.5em 12px;
  }
}

.link-orientation-lock{
  margin-left: 10px;
  color: $lightgray;
  &.selected, &.selected:hover{
    color: $success;
  }
  &:hover{
    color: $text-color;
  }
}

.notification{
  position: fixed;
  width: 500px;
  max-width: 100%;
  top: 0;
  z-index: 200;
  background: #2fa9f6;
  // background-color: rgba(92, 137, 180, 0.98);
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6;
  padding: 0.5em 1.3em;
  left: 50%;
  @include transform(translate(-50%, -100%));
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.5s ease-in-out);
  &.visible{
    @include transform(translate(-50%, 0));
    opacity: 1;
    visibility: visible;
  }
  p{
    margin: 0.5em 0;
  }
  .dismiss-link{
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 8px;
  }
  .message{
    margin-right: 80px;
    a{
      font-weight: normal;
      text-decoration: underline;
      margin: 0 15px;
    }
  }
  a{
    color: #fff;
  }
}


.spinner{
  z-index: 1;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  border-radius: 4px;
  display: none;
  padding-top: 0.6em;
  &.visible{
    display: block;
  }
}