textarea, #{$all-text-inputs} {
  border: 1px solid #ddd;
  outline: none;
  border-radius: 3px;
  padding: .5em .7em .5em;
  &:disabled{
  	background-color: #eee;
  }
}

#{$all-text-inputs-hover} {
  border: 1px solid #ccc;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-active} {
  border: 1px solid #aaa;
  &:disabled{
  	background-color: #ddd;
  }
}

button{
	outline: none;
}