html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
footer.footer, .push {
  height: 30px; /* '.push' must be the same height as 'footer' */
}
footer.footer{
  font-size: 0.8em;
  color: #ccc;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
  p{
    margin: 0;
  }
  .right-links{
    float: right;
    margin-right: 20px;
  }
  a{
    color: $text-color;
  }
}
body{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  @include media($tablet) { font-size:15px; }
  @include media($mobile) { font-size: 13px; }
}
button{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: $link-color;
  @include transition(color 0.3s);
  &:hover{
  	color: darken($link-color, 20%);
  }
}
.hide{
  display: none;
}

header.home{
  h1.logo{
    background-color: #333;
    color: #fff;
    font-weight: normal;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
    margin: 0;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    @include media($mobile){
    	left: 10px;
    	top: 10px;
    	line-height: 36px;
    	width: 36px;
    	height: 36px;
    	font-size: 18px;
    }
  }
  .order-new{
    position: absolute;
    right: 20px;
    top: 24px;
    padding: .5em 1.6em;
    border-radius: 20px;
    border: 1px solid #999;
    // background-color: #eee;
    color: #333;
    @include transition(all 0.5s);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 1px;
    word-spacing: .1em;
    &:hover{
      background-color: #333;
      border-color: #333;
      color: #fff;
    }
    @include media($mobile){
      right: 10px;
      top: 16px;
      border: none;
      padding-right: 0;
      &:hover{
        background-color: #fff;
        border-color: #fff;
        color: #000;
      }
    }
  }
}
.container{
	padding: 0 20px;
	@include outer-container;
	@include media($mobile) { padding: 0 10px; }
}
.page-title{
	margin: 20px 0;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	line-height: 46px;
	letter-spacing: 1px;
	word-spacing: 0.3em;
	@include media($mobile){
		margin: 10px 0;
		line-height: 36px;
	}
}

.btn{
	border: none;
	color: white;
	display: inline-block;
	padding: 0.8em 2em;
	text-decoration: none;
	font-weight: 300;
	font-size: 0.94em;
  line-height: 1;
	background: $button-color;
	border-radius: 4px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.small-text{
	font-size: 0.9em;
}

.sidenav{
  width: 300px;
  max-width: 80%;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  z-index: 100;
  @include transform(translate(-300px, 0));
  @include transition(all 0.3s ease-in-out);
  font-weight: 300;
  .header-links{
    margin: 0;
    padding:  0;
    li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a{
      color: #fff;
      display: block;
      padding: 10px 20px;
      @include transition(all 0.3s);
      &:hover{
        background-color: #222;
      }
    }
    h4{
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      span{
        color: $button-color;
      }
      margin: 0;
      background-color: #111;
      padding: 10px 0;
    }
  }

}

.wrapper{
    @include transition-property(transform);
    @include transition-duration(300ms);
    @include transition-timing-function(ease-out);
    &:after{
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0,0,0,0.5);
      top: 0px;
      left: 0;
      visibility: hidden;
      opacity: 0;
      @include transition(all 0.3s);
    }
}
.show-sidenav{
  overflow: hidden;
  .sidenav{
    @include transform(translate(0, 0));
  }
  .wrapper{
    @include transform(translateX(150px));
    &:after{
      visibility: visible;
      opacity: 1;
    }
  }
}