.center-container{
	width: 400px;
	margin: 2em auto;
	text-align: center;
	.border-container{
		padding: 1.2em;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	h2{
		margin: 0;
		font-weight: 300;
	}
	form{
		display: block;
		margin: 1.5em 0;
	}
	.form-row{
		text-align: left;
		margin: 1em 0 1em 0;
		position: relative;
		label{
			display: inline-block;
			width: 7em;
		}
		input{
			width: 100%;
			box-sizing: border-box;
		}
	}
	.box-footer-links{
		font-weight: 300;
		font-size: 0.9em;
		text-align: left;
		margin-top: 1em;
		.align-right{
			float: right;
		}
	}
}

p.success, p.error{
	background-color: $error-color;
	color: #fff;
	border-radius: 2px;
	font-weight: 300;
	padding: 0.3em 0;
	font-size: 0.8em;
}
p.success{
	background-color: #fff;
	color: $success;
}

.txt-prepend{
	position: relative;
	label{
		background-color: #eee;
		color: #999;
		position: absolute;
		height: calc(100% - 2px);
		top: 1px;
		left: 1px;
		width: 3em !important;
		text-align: center;
		border-radius: 3px 0 0 3px;
		box-sizing: border-box;
		padding-top: .45em;
	}
	input{
		padding-left: 3.5em;
	}
}
.row{
	@include outer-container;
}
.left-50, .right-50{
	@include span-columns(6);
	@include pad(0 20px);
	img{
		max-width: 100%;
	}
}
.align-center{
	text-align: center;
}
.width-1-3rd{
	@include span-columns(4);
	text-align: center;
}
.left-50 p:first-child{
	margin-top: 0;
}
.feedback-form{
	input[type="text"], textarea{
		width: 350px;
		margin: 0.5em 0;
	}
	textarea{
		height: 100px;
	}
}
.rectangle{
	border: 5px solid #333;
	text-align: center;
	margin: 0px auto;
	&.rectangle-2-1{
		width: 200px;
		height: 150px;
		line-height: 140px;
	}
	&.rectangle-2{
		width: 200px;
		height: 200px;
		line-height: 190px;
	}
	&.rectangle-3{
		width: 300px;
		height: 200px;
		line-height: 190px;
	}
}
.indicative-price{
	font-size: 13px;
	margin: 10px 0;
	span{
		font-weight: normal;
	}
}