@import './bourbon/bourbon';
@import "grid-settings";
@import './neat/neat';
@import '../bower_components/normalize-css/normalize.css';
@import '../bower_components/ionicons/scss/ionicons';
@import 'modal';
@import 'forms';
@import 'variables';
@import 'home-static';

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
footer.footer, .push {
  height: 30px; /* '.push' must be the same height as 'footer' */
}
footer.footer{
	font-size: 0.8em;
	color: #ccc;
	font-weight: 300;
	line-height: 30px;
	p{
		margin: 0;
	}
	.right-links{
		float: right;
	}
	a{
		color: $text-color;
	}
}
.align-left{
	text-align: left;
}

a{
	color: $link-color;
	text-decoration: none;
	&:hover{
		color: darken($link-color, 10%);
	}
}
body{
	font-size: 16px;
	font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
	color: $text-color;
	@include media($desktop) { font-size: 14px; }
	@include media($tablet) { font-size: 14px; }
	@include media($mobile) { font-size: 13px; }
}
header.home{
	// position: fixed;
	// top:0;
	// width: 100%;
	// left: 0;
	// z-index: 10;
	background-color: white;
	// @include transform(translate(0, -100%));
}
.container{
	width: 90%;
	margin: 0px auto;
	@include clearfix;
}
.logo-container{
	padding: 2em 0;
	text-align: left;
	position: relative;
	font-weight: 300;
	.home-link{
		color: $text-color;
	}
	h1.logo{
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: 400;
		display: inline-block;
		margin: 0;
		line-height: 1;
		font-weight: 300;
		span{
			// font-size: 14px;
			// font-weight: 300;
			color: $button-color;
			// display: none;
		}
	}
	ul.header-links{
		position: absolute;
		right: 0;
		padding: 0;
		margin: 0;
		font-size: 0.8em;
		top: 50%;
		@include transform(translateY(-50%));
		li{
			list-style: none;
			display: inline-block;
			margin: 0 1.4em;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:last-child{
				margin-right: 0;
			}
			&.hamburger{
				display: none;
				margin-right: 0;
				font-size: 24px;
				a{
					border-bottom: none;
					&:hover{
						border-bottom: none;
					}
				}
			}
		}
	}
	a{
		color: #333;
		padding-bottom: 4px;
		border-bottom: 1px solid #fff;
		@include transition(all 0.5s);
		&:hover{
			color: #333;
			border-bottom: 1px solid #333;
		}
	}
	a.hamburger{
		display: none;
		float: right;
		font-size: 24px;
		border-bottom: none;
		line-height: 1;
		&:hover{
			border-bottom: none;
		}
	}
	@include media($tablet) {
		a.hamburger{
			display: inline-block;
		}
		ul.header-links{
			position: fixed;
			width: 200px;
			height: 100%;
			background-color: #333;
			left: 100%;
			top: 0;
			z-index: 10;
			padding: 15px 0;
			@include transform(translate(0,0));
			@include transition(all 0.5s);
			li{
				display: block;
				font-size: 1.1em;
				margin: 0;
			}
			a{
				color: #fff;
				padding-bottom: 4px;
				border-bottom: none;
				@include transition(all 0.5s);
				padding: 1em 2em;
				display: block;
				&:hover{
					background-color: #111;
					color: #fff;
					border-bottom: none;
				}
			}
		}
	}
}
.overlay{
	background-color: rgba(0,0,0,0.3);
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.sidebar-open{
	ul.header-links{
		@include transform(translateX(-100%));
	}
	.overlay{
		visibility: visible;
		opacity: 1;
	}
}
/* h1.logo{
	float: left;
	margin: 0;
	font-size: 28px;
	font-weight: 100;
	background: transparent url('../img/logo.png') no-repeat 0 16px;
	background-size: 21px 30px;
	padding-left: 30px;
	span{
		font-size: 14px;
		color: #999;
		display: none;
	}
}
ul.header-links{
	float: right;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	li{
		list-style: none;
		display: inline-block;
		margin: 0 1.4em;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		color: #333;
	}
} */
section.pane{
	height: 100vh;
	position: relative;
	overflow: hidden;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: transparent url('../img/noise.png');
		opacity: 0.4;
	}
	&:after{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		@include radial-gradient(circle at 25% 0%, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0.2) 100%);
		// background-image: radial-gradient(50% 100%, #FFFFFF 0%, #000000 100%);
	}
	.pane-image-container{
		display: none;
		text-align: center;
		padding: 10% 0;
		img{
			width: 80%;
		}
	}
	@include media($tablet) {
		height: auto;
		.app-screen{
			display: none;
		}
		.pane-image-container{
			display: block;
		}
		.screen-message{
			position: static;
			top: auto;
			left: auto;
			margin: 0px auto 10%;
			@include transform(translate(0, 0));
		}
	}
}
section.pane.head{
	height: calc(100vh - 5.2em);
	box-sizing: border-box;
	padding-top: 2em;
	// .container{
	// 	@include outer-container;
	// 	position: relative;
	// 	height: 100%;
	// }
	&:before, &:after{
		display: none;
	}
	.hero{
		width: 50%;
		float: left;
		// position: absolute;
		h2{
			font-weight: 300;
			color: #FF6F6F;
			font-size: 2.2em;
		}
		p{
			font-weight: 300;
			font-size: 1.2em;
			line-height: 1.6;
			margin-bottom: 2em;
		}
	}

	.home-image{
		max-height: 90%;
		max-width: 40%;
		position: absolute;
		left: 75%;
		@include transform(translate(-50%, 0));
	}

	@include media($tablet) {
		text-align: center;
		height: auto;
		padding: 0;
		.hero{
			float: none;
			margin-bottom: 2em;
			width: 100%;
			h2{
				margin-top: 0;
			}
		}
		.home-image{
			position: relative;
			width: 90%;
			max-width: 90%;
			@include transform(translate(0, 0));
			left: 0;
		}
	}
	@include media($mobile) {
		.hero{
			h2{
				font-size: 2em;
			}
		}
	}
}

.screen-1{
	background-color: #5C9BBB;
}
.screen-2{
	background-color: #ADBE41;
}
.screen-3{
	background-color: #8B9B9B;
}
.screen-4{
	background-color: #FFE432;
}
.screen-5{
	background-color: #8CFFDB;
}
.app-screen{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 15% center;
	background-size: 35%;
	z-index: 1;
	@include media($tablet) {
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center 30%;
		background-size: 80%;
	}
}
.screen-1 .app-screen{
	background-image: url(../img/frames/frame2.png);
}
.screen-2 .app-screen{
	background-image: url(../img/frames/frame3.png);
}
.screen-3 .app-screen{
	background-image: url(../img/frames/frame4.png);
}
.screen-4 .app-screen{
	background-image: url(../img/frames/frame4.png);
}
.screen-5 .app-screen{
	background-image: url(../img/frames/frame5.png);
}


.screen-message{
	position: absolute;
	width: 40%;
	top: 50%;
	left: 50%;
	@include transform(translate(0, -50%));
	text-align: center;
	z-index: 2;
	color: #fff;

	h2{
		font-weight: 300;
		font-size: 2em;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		margin: 0;
	}
	p.sub-head{
		font-size: 1.2em;
		font-weight: 100;
		margin: 1em 0;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		line-height: 1.6;
	}
	@include media($tablet) {
		width: 80%;
		bottom: 8%;
		top: auto;
		left: 50%;
		@include transform(translate(-50%, 0));
	}
}

button, .btn{
	padding: 12px 30px;
	color: #fff;
	background-color: #FF5970;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 300;
	border-radius: 4px;
	border: none;
	font-size: 0.9em;
	word-spacing: 0.3em;
	@include transition(background-color .5s ease-in-out);
	&:hover{
		background-color: #333;
	}
	&.btn-small{
		padding: 8px 20px;
		word-spacing: 0.1em;
	}
}


.size-container{
	text-align: center;
	font-weight: 200;
	h3{
		margin: 1em 0;
		font-weight: 200;
	}
	input{
		width: 80px;
		font-weight: normal;
		font-size: 1.2em;
	}
	p{
		font-size: 0.8em;
		margin: 2em;
	}
	button{
		@include button(flat, #FF5970);
		padding: 0.6em 1em;
		font-weight: 200;
	}
	.final-price{
		margin-top: 1em;
		font-size: 0.8em;
		font-weight: normal;
	}
}

.pagination{
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	@include transform(translate(0, -50%));
	z-index: 10;
	li{
		list-style: none;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: rgba(255,255,255,0.4);
		margin: 15px 20px;
		&:first-child{
			background-color: rgba(0,0,0,0.4);
		}
	}
}
.static-content{
	max-width: 800px;
	font-weight: 300;
	line-height: 1.6;
	strong{
		font-weight: 400;
	}
	h2, h3{
		font-weight: 400;
	}
	h2{
		text-align: center;
	}
	h3{
		margin-top: 2em;
	}
}
.static-content-thin{
	h1,h2,h3{
		font-weight: 300;
	}
}

.admin-search-form{
	display: inline-block;
	padding-right: 50px;
}
.admin-table{
	margin: 50px 0;
	width: 100%;
	border: 1px solid #ccc;
	th, td{
		padding: 8px 10px;
		border: 1px solid #ddd;
	}
	th{font-weight: normal;}
	td{font-weight: 300; font-size: 13px;}
	ul{
		padding: 0;
		margin: 0;
	}
	li{
		list-style: none;
		padding: 0.5em 0;
	}
}