@import './bourbon/bourbon';
// @import './neat/neat';

body.modal-open{
  overflow: hidden;
  .modal{
    visibility: visible;
    .modal-fade-screen{
      opacity: 1;
    }
    .modal-inner{
      opacity: 1;
      @include transform(translate(-50%, 0));
      @include transition(all 0.3s ease-in-out);
      @include media($mobile) {
        @include transition(none);
      }
    }
  }
}
.modal{
  $modal-padding: 15px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  visibility: hidden;
  @include transition(all 0.5s ease-in-out);
  .modal-fade-screen{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    @include transition(all 0.5s ease-in-out);
    @include media($mobile) {
      @include transition(none);
    }
  }
  .modal-inner{
    position: absolute;
    width: 400px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    left: 50%;
    top: 20%;
    opacity: 0;
    @include transform(translate(-50%, -50%));
    @include transition(all 0.1s ease-in-out);
    @include media($mobile) {
      @include transition(none);
    }
    max-height: 70%;
    overflow: auto;
  }
  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);

    font-size: 1.2em;
    color: #ddd;
    cursor: pointer;
    line-height: 1;
    padding-right: .2em;
    /* &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1em);
      background: #ddd;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    } */

    &:hover{
      color: darken(#ddd, 10%);
    }

    /* &:before {
      @include transform(rotate(-45deg));
    } */
  }
}
.modal.large{
  .modal-inner{
    width: 500px;
  }
}