.order-page{
	@include outer-container;
	font-weight: 300;
}
.poster-container{
	@include span-columns(4);
	@include media($tablet) {@include span-columns(8);}
	@include media($mobile) { @include span-columns(4); }
}
.poster-detail{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 1em;
	@include row();
	.poster-image-container{
		@include span-columns(12);
		@include media($tablet) {@include span-columns(4);}
		@include media($mobile) {@include span-columns(4);}
	}
	.poster-image{
		// max-height: 150px;
		width: 100%;
	}
	.poster-info{
		@include span-columns(12);
		@include media($tablet) {@include span-columns(4);}
		@include media($mobile) {@include span-columns(4);}
		padding-top: 0.5em;
		p{
			margin: 0 0 0.5em 0;
			text-transform: capitalize;
			vertical-align: top;
			font-size: .9em;
			font-weight: 400;
			&:last-child{
				margin-bottom: 0;
			}
		}
		span{
			display: inline-block;
			width: 6.5em;
			color: $lightgray;
			font-weight: 300;
		}
		.ion-close-round{
			font-size: .6em;
		}
	}
	.poster-cost{
		float: right;
		text-align: middle;
		background-color: #eee;
		// color: #fff;
		padding: .5em 1em;
		font-weight: 500;
		// border-radius: 0 0 3px 0;
		span{
			display: block;
			margin: 0 0 0.5em 0.5em;
		}
	}
}
.order-detail{
	font-weight: 300;
	@include span-columns(8);
	@include media($tablet) {@include span-columns(8);}
	@include media($mobile) { @include span-columns(4); }
}

.checkout-progress{
	padding: 0;
	margin: 0;
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
	@include flex-wrap(nowrap);

	font-size: 0.7em;
	text-transform: uppercase;
	padding: 10px 0;
	background-color: #f5f5f5;


	i{
		margin:0 4px;
		font-size: 1.2em;
	}
	li{
		list-style: none;
		@include flex(1);
		width: 25%;
		text-align: center;
		margin: 0;
		padding: 0;
		position: relative;
		span{
			display: inline-block;
			padding: 0 3px;
			background: #f5f5f5;
			position: relative;
			z-index: 1;
		}
		&:before{
			position: absolute;
			border-bottom: 1px solid #ccc;
			content: '';
			top: 50%;
			width: 100%;
			right: 50%;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		&.done{
			color: $orange;
			&:before{
				border-color: $orange;
			}
		}
	}
}
.normal-form{
	font-weight: normal;
	vertical-align: top;
	.form-row{
		margin: 1em 0 1em 0;
		position: relative;
	}
	textarea, #{$all-text-inputs} {
		padding: .3em .5em .3em;
		width: 50%;
		min-width: 200px;
	}
}
.order-sign-in{
	line-height: 1;
	.form-row{
		margin: 1em 0 1em 7em;
		position: relative;
		&:first-child{
			margin-left: 0;
			label{
				display: inline-block;
				width: 7em;
			}
		}
	}
	small{
		display: block;
		margin-top: 8px;
	}
	input[type="radio"]{
		position: absolute;
		left: -25px;
		top: 0px;
	}

	input[type="password"]{
		width: 200px;
		min-width: 150px;
		max-width: 70%;
	}
	input[type="submit"]{
		@extend .btn;
		padding: 10px 30px;
	}
}

.order-address{
	label{
		display: inline-block;
		width: 8em;
		vertical-align: top;
	}
	input[type="submit"], input[type="button"]{
		@extend .btn;
		padding: 10px 30px;
	}
}
.addresses-container{
}
.address-block{
	width: 30.33%;
	margin: 0;
	&:nth-child(3n+2){
		margin: 0 4.5%;
	}
	@include media($tablet) {
		width: 48%;

		&:nth-child(n){
			margin: 0 0 2em 0;
		}
		&:nth-child(2n+2){
			margin: 0 0 0 4%;
		}
	}
	@include media($mobile) { width: 100%; &:nth-child(n){
			margin: 0 0 2em 0;
		}
		 }
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2em;
	p{
		font-size: 0.9em;
		margin: 0.5em 0;
	}
	.btn{
		border-radius: 3px;
		font-size: 0.9em;
		padding: 6px 10px;
		background-color: $success;
	}
	.full-button{
		display: block;
		width: 100%;
		margin-bottom: 3%;
	}
	.half-button{
		width: 48%;
		background-color: #ddd;
		color: #555;
		&:last-child{
			margin-left: 4%;
		}
	}
}
.order-payment{
	input[type="submit"]{
		@extend .btn;
		padding: 10px 30px;
	}
}
.order-complete{
	h2{
		margin-top: 0;
		font-weight: 200;
		color: $success;
	}
	h3{
		margin: 2em 0;
		font-weight: 400;
		small{
			text-transform: uppercase;
			color: $lightgray;
			font-weight: 200;
			// font-size: 0.6em;
		}
	}
	.row{
		@include row();
		@include fill-parent();
		.order-detail{
			@include span-columns(6);
			@include media($mobile) { @include span-columns(4); }
		}
	}
	.order-info-detail{
		padding: 0.5em;
		border-bottom: 1px solid #eee;
		span{
			color: $lightgray;
			float: left;
			font-weight: 200;
		}
		&.align-right{
			float:right;
		}
		font-weight: normal;
		text-align: right;
		@include span-columns(6);
		@include media($tablet) {@include span-columns(4);}
		@include media($mobile) { @include span-columns(4); }
	}
}
.order-info{
	margin-bottom: 50px;
}
.order-progress{
	padding: 0;
	margin: 0;
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(flex-start);
	@include flex-wrap(nowrap);
	font-size: 0.9em;
	li{
		@include flex(1);
		text-align: center;
		list-style: none;
		position: relative;
		padding-top: 34px;
		&:before{
			position: absolute;
			// border-bottom: 1px solid #ccc;
			// border-top: 1px solid #ccc;
			background-color: #ddd;
			height: 6px;
			content: '';
			top: 14px;
			width: 100%;
			right: 50%;
		}
		i.circle{
			position: absolute;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			left: 50%;
			top: 0;
			background-color: #ddd;
			@include transform(translate(-50%, 0));
			z-index: 1;
			&:after{
				content: attr(data-order);
				position: absolute;
				// border: 1px solid #ccc;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				left: 50%;
				top: 50%;
				// @include linear-gradient(#18C620, #31B250);
				background-color: #aaa;
				@include transform(translate(-50%, -50%));
				font-size: 10px;
				color: white;
				font-weight: normal;
				font-style: normal;
				line-height: 24px;
				text-align: center;
			}
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		span{
			width: 100%;
			font-size: 13px;
			color: $lightgray;
			line-height: 1.2;
		}
		&.done{
			&:before{
				background-color: #8FF8FF;
			}
			i.circle{
				background-color: #8FF8FF;
				&:after{
					content: "\f3fd";
					font-family: "Ionicons";
					font-size: 24px;
					background-color: #2CCCFF;
					// @include linear-gradient(#35F2FF, #2EB2FF);
				}
			}
			span{
				color: #333;
			}
		}
	}
}


.order-list-container{
	.order-container{
		border: 1px solid #eee;
		border-radius: 3px;
		@include row();
		margin-bottom: 3em;
	}
	.poster-container{
		background-color: #f9f9f9;
		border-right: 1px solid #eee;
		@include span-columns(4, block-collapse);
		margin-right: 0;
		@include media($tablet) {@include span-columns(8); border-right: none;}
		@include media($mobile) { @include span-columns(4); border-right: none;}
		.poster-detail{
			margin-bottom: 0;
			border: none;
		}
	}
	.order-complete{
		padding: 0.6em 1em;
	}
	.order-detail{
		@include span-columns(8);
		@include media($tablet) {@include span-columns(8);}
		@include media($mobile) { @include span-columns(4); }
	}
}
.size-warning{
	color: $error-color;
	font-style: 0.8em;
	margin: 0.5em 0;
	font-weight: 300;
}