$lightash	  : #f5f5f5;
$lightgray	  : #eee;
$lightgray    : #999;
$text-color   : #333;
$link-color   : #29B3F5;
$orange       : #F55E21;
$button-color : #FF6F6F;
$success      : #00B91C;
$error-color  : #C02525;